@keyframes rotate{
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

#ia
{
	float:left;
	font-size:20px;
	display:inline-block;
	animation: rotate 2s infinite linear, rainbow 3s infinite;
}
#ib
{
	float:right;
	font-size:20px;
	display:inline-block;
	animation: rotate 2s infinite linear, rainbow 3s infinite;
}

